1.1.8/modules/org.restlet.example/src/org/restlet/example/book/restlet/ch7/jaxb/customer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">

	<xs:complexType name="Customer">
		<xs:attribute name="street" type="xs:string" />
		<xs:attribute name="city" type="xs:string" />
		<xs:attribute name="state" type="xs:string" />
		<xs:attribute name="zip" type="xs:int" />
		<xs:attribute name="phone" type="xs:string" />
	</xs:complexType>

</xs:schema>

