2.0rc1/modules/org.restlet.test/src/org/restlet/test/ext/wadl/YahooSearch.wadl

<?xml version="1.0"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
	xmlns:tns="urn:yahoo:yn" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:yn="urn:yahoo:yn" xmlns:ya="urn:yahoo:api" xmlns="http://wadl.dev.java.net/2009/02">
	<grammars>
		<include href="NewsSearchResponse.xsd" />
		<include href="Error.xsd" />
	</grammars>

	<resources base="http://api.search.yahoo.com/NewsSearchService/V1/">
		<resource path="newsSearch">
			<method name="GET" id="search">
				<request>
					<param name="appid" type="xsd:string" style="query" required="true" />
					<param name="query" type="xsd:string" style="query" required="true" />
					<param name="type" style="query" default="all">
						<option value="all" />
						<option value="any" />
						<option value="phrase" />
					</param>
					<param name="results" style="query" type="xsd:int" default="10" />
					<param name="start" style="query" type="xsd:int" default="1" />
					<param name="sort" style="query" default="rank">
						<option value="rank" />
						<option value="date" />
					</param>
					<param name="language" style="query" type="xsd:string" />
				</request>
				<response status="200">
					<representation mediaType="application/xml" element="yn:ResultSet" />
				</response>
				<response status="400">
					<representation mediaType="application/xml" element="ya:Error" />
				</response>
			</method>
		</resource>
	</resources>

</application>
